<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-default}">
    <head>
        <title>News Post</title>
    </head>

    <body>
        <section layout:fragment="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="single_content_layout">
                            <div class="add_a_comment">
                                <div class="single_media_title"><h2>News Post</h2></div>
                                <div class="comment_form">

                                    <form method="post" th:action="@{/news/post}" th:object="${news}">
                                        <label for="title">Title</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="title" placeholder="Title" th:field="*{title}">
                                        </div>

                                        <label for="content">Content:</label>
                                        <div class="form-group comment">
                                            <textarea class="form-control" id="inputComment" placeholder="Comment" th:field="*{content}"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <select th:field="*{category}" class="form-control">
                                                <option value="">Selecione uma categoria</option>
                                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-submit red">Post</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>